<header class="header">
    <a href="/">
        <img src="/img/logo.png" alt="project logo" class="logo">
    </a>
    

    <form action="#" class="search">
        <input type="text" class="search__input" placeholder="Pesquisar dia ">
        <button title="Botão" class="search__button">
            <i class="icon__search color--grey"></i>
        </button>
    </form>

    <nav class="user-nav">
        <div class="user-nav__user">
            <img src="/img/user.jpg" alt="User profile photo" class="user-nav__user-photo">
            <span class="user-nav__user-name">Fernando</span>
        </div>
    </nav>
</header>