<!DOCTYPE html>
<html lang="pt-br">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Cadastro de Requesição</title>
	<link rel="stylesheet" href="style.css">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<header>
	<%- include('./partials/header'); %>
</header>

<body>

	<br />

	<div class="form container" style="background-color: #ffffff; border-radius: 5px; padding: 20px 10px 10px 10px;">
		<form method="POST" action="/cadastro">

			<div class="form-group">
				<strong><label for="name">Nome</label></strong>
				<input class="form-control" type="text" name="name"  id="name" placeholder="Antônia" required>
			</div>

			<div class="form-group">
				<strong><label for="phone">Celular</label></strong>
				<input class="form-control phone" type="text" name="phone" placeholder="(00)00000-0000" id="phone" required>
			</div>

			<div class="form-group">
				<strong><label for="email">Email</label></strong>
				<input class="form-control" type="email" name="email" id="email">
			</div>
			
			<div class="form-group">
				<strong><label for="date">Dia</label></strong>
				<input class="form-control" type="date" id="date" name="date" required>
			</div>
			
			<div class="form-group">
				<strong><label for="hour">Hora</label></strong>
				<input class="form-control" type="time" id="hour" name="hour" required>
			</div>	

			<div class="form-group">
				<button class="btn btn-primary">Salvar</button>
			</div>
		</form>
	</div>

	
</body>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="./jquery.mask.min.js"></script>
<script>
	$('.phone').mask('(00)00000-0000');
</script>
</html>