<!DOCTYPE html>
<html lang="pt-br">
<head>
	<%- include('../partials/head', {title: 'Home'}); %>
	<link rel="stylesheet" href="./fullcalendar/main.css">
</head>

<body>
	<div class="container">
		<%- include('../partials/header'); %>
		<div class="main">
			<%- include('../partials/sidebar', {active: 'Home'}); %>
			<div class="content">
				<div id="calendar"></div>
			</div>
		</div>
	</div>
</body>

<script src="./fullcalendar/main.js"></script>
<script>
	const calendario = document.getElementById('calendar');
	
	const calendar = new FullCalendar.Calendar(calendario, {
		displayEventTime : false,
		handleWindowResize: true,
		initialView: 'dayGridMonth',
		locale: 'pt-br',
		events: 'agendados',
		eventClick: function(req) {
			window.location.href = '/agenda_registrada/'+req.event.id
		},
	});

	calendar.render();
</script>

</html>
