<!DOCTYPE html>
<html lang="pt-br">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="login.css">
	<div>
	  <title>Login</title>
	  <div class="underline-title">
	</div>
</head>
<body>
  <div class="container">
    <form class="form" action="/login" method="POST">
	  
	  <div class="flex-center">
	    <h3 class="login-title">LOGIN</h3>

	    <label  for="name">NOME</label>
	    <input class="input-login" type="text" name="name" id="name" required placeholder="Digite o seu nome">

	    <br>
	    
	    <label  for="password">SENHA</label>
	    <input class="input-login" type="password" name="password" id="password" required placeholder="Digite a sua senha">

	    <br>
	    
	    <button type="submit">ENTRAR</button>
	    <% if(messages.error) { %>
              <p class="login-error"><%= messages.error %></p>
	    <% } %>
	  </div>
    </form>
  </div>
</body>
</html>
