<!DOCTYPE html>
<html lang="pt-br">
<head>
	<%- include('../partials/head', {title: 'Cadastrar Agenda'}); %>
</head>

<body>
	<div class="container">
		<%- include('../partials/header'); %>

		<div class="main">
			<%- include('../partials/sidebar', {active: 'Cadastro'}); %>

			<div class="content">
				
				<div class="form">
					<h2 class="heading-title">
						Cadastre uma agenda
					</h2>
					<form class="form__section" method="POST" action="/registrar_agenda">
						
						<div class="form__group">
							<label class="form__label--required">Nome</label>
							<input class="form__input" type="text" name="name" placeholder="Antônia" required>
						</div>
			
						<div class="form__group">
							<label class="form__label--required">Celular</label>
							<input class="form__input phone" type="text" name="phone" placeholder="(00)00000-0000" required>
						</div>
			
						<div class="form__group">
							<label class="form__label--required">Email</label>
							<input class="form__input" type="email" name="email" placeholder="yimir@gmail.com">
						</div>
						
						<div class="form__group">
							<label class="form__label">Dia</label>
							<input class="form__input" type="date" name="date" required>
						</div>
						
						<div class="form__group">
							<label class="form__label">Hora</label>
							<input class="form__input" type="time" name="hour" required>
						</div>	
			
						<div class="form__group margin-top-meddium">
							<button class="btn btn--purple">Salvar</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</body>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="./jquery.mask.min.js"></script>
<script>
	$('.phone').mask('(00)00000-0000');
</script>
</html>