<!DOCTYPE html>
<html lang="pt-br">
<head>
	<%- include('../partials/head', {title: 'Home'}); %>
</head>

<header>
	<%- include('../partials/header'); %>
</header>

<body>
	<div class="container" style="background-color: #ffffff; border-radius: 15px; padding-top: 20px;">
		<div id="calendar">
		</div>
	</div>
	
	<br />	

	<footer>
	</footer>
</body>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script src="main.js"></script>
<script>
	const calendario= document.getElementById('calendar');
	
	const calendar = new FullCalendar.Calendar(calendario, {
		displayEventTime : false,
		initialView: 'dayGridMonth',
		themeSystem: 'Sandstone',
		locale: 'pt-br',
		events: 'agendados',
		eventClick: function(req) {
			window.location.href = '/agenda_registrada/'+req.event.id
		},
	        eventAfterRender: function (event, $element, view) {
		const $container = $element.parents('.fc-content-skeleton:first').find('.fc-event-container:last');
		const $totalRow = $container.find('.fc-day-grid-event.total');
		if ($totalRow.length == 0) {
			$totalRow = $('<a class="fc-day-grid-event total fc-h-event fc-event fc-start fc-end"><div class="fc-content"><span>Total: </span><span class="total-time"></span></div></a>')
			.appendTo($container);
		}
		const $total = $totalRow.find('.total-time');
		const total = parseFloat($totalRow.find('.total-time').text());
		total = isNaN(total) ? parseFloat(event.worktime) : total + parseFloat(event.worktime);
		$total.text(total);
}
	});

	calendar.render();

	// defaultView: (function () { if ($(window).width() <= 768) { return defaultView = 'agendaDay'; } else { return defaultView = 'agendaWeek'; } })()
</script>

</html>
