<!DOCTYPE html>
<html lang="pt-br">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="register.css"> 
	<title>Cadastrar Admin</title>
</head>
<body>
	<div class="container">
		
		<form class="form"  id="form" action="/registrar_admin" method="POST">
		  <div class="flex-center">
		    <h3 class="register-title" >CRIAR ADMIN</h3>
		  <label for="name">NOME</label>
			<input class="input-register"  type="text" name="name" id="name" required>

			<label for="email">EMAIL</label>
			<input class="input-register" type="email" name="email" id="email" required>

			
			<label for="password">SENHA</label>
			<input class="input-register"  type="password" name="password" id="password" required>

			<label for="password">CONFIRMAR SENHA</label>
			<input class="input-register"  type="password" name="confirmPassword" id="confirmPassword" required>
			
			<br>
			
			<input class="input-submit" type="submit" value="CADASTRAR" />
			</div>
		</form>
	</div>
</body>
<script>
	let form = document.querySelector('form')
	let inputs = document.querySelectorAll('input')
	let required_inputs = document.querySelectorAll('input[required]')
	let register = document.querySelector('input[type="submit"]')
	form.addEventListener('keyup', function(e) {
		let disabled = false
		inputs.forEach(function(input, index) {
			if (input.value === '' || !input.value.replace(/\s/g, '').length) {
				disabled = true
			}
		})
		if (disabled ) {
			register.setAttribute('disabled', 'disabled')
		} else {
			register.removeAttribute('disabled')
		}
	})
</script>
</html>
