:root {
  --color-primary: #700B97;
  --color-primary-light: #8E05C2;
  --color-primary-dark: #3E065F;
  --color-grey-light-1: #faf9f9;
  --color-grey-light-2: #f4f2f2;
  --color-grey-light-3: #f0eeee;
  --color-grey-light-4: #ccc;
  --color-grey-dark-1: #333;
  --color-grey-dark-2: #777;
  --color-grey-dark-3: #999;
  --color-dark: #0B0B0B;
  --color-action-view: #03A9F4;
  --color-action-edit: #FFC107;
  --color-action-finish: #00FF00;
  --background-content: #F6F6FA;
  --color-invalid-input: 	#FF0000;
  --shadow-dark: 0 2rem 6rem rgba(0,0,0,.3);
  --shadow-light: 0 2rem 5rem rgba(0,0,0,.06);
  --line: 1px solid var(--color-grey-light-2); }

* {
  margin: 0;
  padding: 0; }

*,
*::before,
*::after {
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  line-height: 1.6;
  color: var(--color-grey-dark-2);
  background-image: linear-gradient(to right bottom, var(--color-primary-light), var(--color-primary-dark));
  background-size: cover;
  background-repeat: no-repeat; }

.container {
  min-height: 90rem;
  background-color: var(--color-grey-light-1);
  box-shadow: var(--shadow-dark); }

.header {
  font-size: 1.4rem;
  height: 7rem;
  background-color: #fff;
  border-bottom: var(--line);
  display: flex;
  justify-content: space-between;
  align-items: center; }

.main {
  display: flex; }

.sidebar {
  background-color: var(--color-grey-dark-1);
  flex: 0 0 20%;
  display: flex;
  flex-direction: column;
  justify-content: space-between; }

.content {
  font-size: 1.4rem;
  padding: 4.5rem;
  background-color: var(--background-content);
  display: flex;
  width: 100%;
  height: 100%; }

.logo {
  height: 3.25rem;
  margin-left: 2rem; }

.search {
  flex: 0 0 50%;
  display: flex;
  align-items: center;
  justify-content: center; }
  .search__input {
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    background-color: var(--color-grey-light-2);
    border: none;
    padding: .7rem 2rem;
    border-radius: 100px;
    width: 90%;
    transition: all .2s;
    margin-right: -3.5rem; }
    .search__input:focus {
      outline: none;
      width: 100%;
      background-color: var(--color-grey-light-3); }
    .search__input::-webkit-input-placeholder {
      font-weight: 300;
      color: var(--color-grey-light-4); }
  .search__input:focus + .search__button {
    background-color: var(--color-grey-light-3); }
  .search__button {
    border: none;
    background-color: var(--color-grey-light-2); }
    .search__button:focus {
      outline: none; }
    .search__button:active {
      transform: translateY(2px); }

.user-nav {
  align-self: stretch;
  display: flex;
  align-items: center; }
  .user-nav > * {
    padding: 0 2rem;
    cursor: pointer;
    height: 100%;
    display: flex;
    align-items: center; }
  .user-nav > *:hover {
    background-color: var(--color-grey-light-2); }
  .user-nav__user-photo {
    height: 3.75rem;
    border-radius: 50%;
    margin-right: 1rem; }

.side-nav {
  font-size: 1.4rem;
  list-style: none;
  margin-top: 3.5rem; }
  .side-nav__item {
    position: relative; }
    .side-nav__item:not(:last-child) {
      margin-bottom: .5rem; }
  .side-nav__item:hover, .side-nav__item--active {
    width: 100%;
    background-color: var(--color-primary); }
  .side-nav__item:active {
    background-color: var(--color-primary-light); }
  .side-nav__link:link, .side-nav__link:visited {
    text-decoration: none;
    color: var(--color-grey-light-1);
    text-transform: uppercase;
    display: block;
    padding: 1.5rem 3rem;
    position: relative;
    display: flex;
    align-items: center; }
  .side-nav__icon {
    width: 1.75rem;
    height: 1.75rem;
    margin-right: 2rem;
    fill: currentColor; }

.legal {
  font-size: 1.2rem;
  color: var(--color-grey-light-4);
  text-align: center;
  padding: 2.5rem; }

.form {
  background-color: #fff;
  display: flex;
  margin: auto;
  min-height: 80rem;
  min-width: 105rem;
  flex-direction: column;
  align-items: center;
  box-shadow: var(--shadow-light); }
  .form__section {
    width: 90rem;
    display: flex;
    flex-direction: column; }
  .form__group:last-child {
    align-self: center; }
  .form__group:not(:last-child) {
    margin-bottom: 2rem; }
  .form__input {
    font-size: 1.5rem;
    padding: 1rem 2rem;
    font-family: inherit;
    color: inherit;
    border-radius: 6px;
    border: 1.8px solid var(--color-primary-dark);
    background-color: rgba(255, 255, 255, 0.5);
    width: 100%;
    display: block;
    transition: all .2s; }
    .form__input:focus {
      outline: none;
      box-shadow: 0 1rem 2rem rgba(51, 51, 51, 0.1);
      border-bottom: 3px solid var(--color-primary); }
    .form__input:focus:invalid {
      border-bottom: 3px solid var(--color-invalid-input); }
    .form__input::placeholder {
      color: var(--color-grey-dark-3); }
  .form__label {
    font-size: 1.8rem;
    font-weight: 700;
    display: block;
    transition: all .3s; }
    .form__label--required {
      font-size: 1.8rem;
      font-weight: bold; }
      .form__label--required::after {
        content: " *";
        color: #FF0000; }
  .form__input:placeholder-shown + .form__label {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-4rem); }
  .form::after {
    content: "";
    display: block;
    height: 1.3rem;
    width: 1.3rem;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--color-primary);
    opacity: 0;
    transition: opacity .2s; }

.btn__save, .btn__save:link, .btn__save:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 2rem 8rem;
  border-radius: 10rem;
  transition: all .2s;
  position: relative;
  font-size: 1.8rem;
  border: none;
  cursor: pointer; }

.btn__save:hover {
  transform: translateY(-3px);
  box-shadow: 0 1rem 2rem rgba(var(--color-grey-dark-1), 0.2); }
  .btn__save:hover::after {
    transform: scaleX(1.4) scaleY(1.7);
    opacity: 0; }

.btn__save:active, .btn__save:focus {
  outline: none;
  transform: translateY(-1px);
  box-shadow: 0 0.5rem 1rem rgba(var(--color-grey-dark-1), 0.2); }

.btn__save--purple {
  background-color: var(--color-primary);
  color: #fff; }
  .btn__save--purple:hover {
    background-color: var(--color-primary-light);
    color: #fff; }

.btn-text:link, .btn-text:visited {
  font-size: 1.6rem;
  color: var(--color-primary);
  display: inline-block;
  text-decoration: none;
  border-bottom: 1px solid var(--color-primary);
  padding: 3px;
  transition: all .2s; }

.btn-text:hover {
  background-color: var(--color-primary);
  color: #fff;
  box-shadow: 0 1rem 2rem rgba(var(--color-grey-dark-1), 0.15);
  transform: translateY(-2px); }

.btn-text:active {
  box-shadow: 0 0.5rem 1rem rgba(var(--color-grey-dark-1), 0.15);
  transform: translateY(0); }

#calendar {
  border: none;
  margin: auto;
  min-height: 80rem;
  min-width: 120rem;
  border-radius: 4px;
  overflow: hidden;
  background-color: #fff;
  box-shadow: var(--shadow-light);
  align-items: stretch; }

.heading-title {
  text-align: center;
  font-size: 3rem;
  margin-top: 3rem;
  text-transform: uppercase;
  font-weight: 700;
  color: var(--color-grey-dark-2);
  letter-spacing: .1rem;
  text-shadow: 0.5rem 1rem 2rem rgba(var(--color-grey-dark-1), 0.2); }

.table {
  min-height: 80rem;
  min-width: 135rem;
  margin: auto; }
  .table__thead {
    text-transform: uppercase;
    background-color: #fcfcfc;
    height: 3rem; }
  .table td {
    height: 4.5rem;
    font-size: 2rem; }
  .table td:first-child {
    width: 770px; }
  .table__info {
    display: flex;
    justify-content: space-between;
    margin-top: 2rem; }
  .table__action {
    display: flex;
    justify-content: space-around;
    font-size: 1.8rem;
    font-weight: bold; }
    .table__action a {
      text-decoration: none;
      text-transform: uppercase; }
    .table__action--view {
      color: var(--color-action-view); }
    .table__action--finish {
      color: var(--color-action-finish); }
    .table__action--edit {
      color: var(--color-action-edit); }
  .table__date {
    text-align: center; }
  .table__wrapper {
    background: #fff;
    padding: 2rem; }
  .table__striped {
    width: 100%; }
    .table__striped tbody tr:nth-of-type(odd) {
      background-color: #fcfcfc; }
    .table__striped tbody tr:hover {
      background: #f5f5f5; }
  .table__hint-text {
    font-size: 1.4rem; }
  .table__pagination {
    list-style: none;
    display: flex; }
    .table__pagination__page-item {
      display: flex;
      margin-right: 1rem;
      text-decoration: none;
      font-size: 2rem;
      border-radius: 50%;
      padding: 0px 4px;
      color: var(--color-grey-dark-2);
      background-color: #fff;
      border: 0.1px solid var(--color-grey-dark-2); }
      .table__pagination__page-item:hover {
        background-color: #0397d6;
        color: #fff; }
      .table__pagination__page-item--active {
        background: #03A9F4;
        color: #fff; }

.user-profile {
  min-height: 80rem;
  min-width: 135rem;
  margin: auto; }
  .user-profile__information {
    background-color: #fff;
    width: 90rem;
    display: flex;
    flex-direction: column; }

.icon__search {
  box-sizing: border-box;
  position: relative;
  display: block;
  transform: scale(var(--ggs, 1));
  width: 16px;
  height: 16px;
  border: 2px solid;
  border-radius: 100%;
  margin-left: -4px;
  margin-top: -4px; }
  .icon__search::after {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute;
    border-radius: 3px;
    width: 2px;
    height: 8px;
    background: currentColor;
    transform: rotate(-45deg);
    top: 10px;
    left: 12px; }

.icon__logout {
  box-sizing: border-box;
  position: relative;
  display: block;
  width: 22px;
  height: 22px;
  border: 2px solid;
  transform: scale(var(--ggs, 1));
  border-radius: 4px; }
  .icon__logout::after, .icon__logout::before {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute;
    right: 4px; }
  .icon__logout::after {
    width: 6px;
    height: 6px;
    border-top: 2px solid;
    border-right: 2px solid;
    transform: rotate(45deg);
    bottom: 6px; }
  .icon__logout::before {
    width: 10px;
    height: 2px;
    bottom: 8px;
    background: currentColor; }

.icon__home {
  box-sizing: border-box;
  position: relative;
  display: block;
  transform: scale(var(--ggs, 1));
  width: 18px;
  height: 14px;
  border: 2px solid;
  border-top: 0;
  border-radius: 2px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  margin-bottom: -2px; }
  .icon__home::after, .icon__home::before {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute; }
  .icon__home::before {
    border-top: 2px solid;
    border-left: 2px solid;
    border-top-left-radius: 4px;
    transform: rotate(45deg);
    top: -5px;
    border-radius: 3px;
    width: 14px;
    height: 14px;
    left: 0; }
  .icon__home::after {
    width: 6px;
    height: 10px;
    background: currentColor;
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
    left: 4px;
    bottom: -2px; }

.icon__user-add {
  display: block;
  transform: scale(var(--ggs, 1));
  box-sizing: border-box;
  width: 20px;
  height: 18px;
  background: linear-gradient(to left, currentColor 8px, transparent 0) no-repeat 14px 6px/6px 2px, linear-gradient(to left, currentColor 8px, transparent 0) no-repeat 16px 4px/2px 6px; }
  .icon__user-add::after {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute;
    border: 2px solid; }
  .icon__user-add::before {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute;
    border: 2px solid;
    width: 8px;
    height: 8px;
    border-radius: 30px;
    top: 0;
    left: 2px; }
  .icon__user-add::after {
    width: 12px;
    height: 9px;
    border-bottom: 0;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    top: 9px; }

.icon__user-list {
  display: block;
  transform: scale(var(--ggs, 1));
  box-sizing: border-box;
  width: 20px;
  height: 18px;
  background: linear-gradient(to left, currentColor 8px, transparent 0) no-repeat 14px 4px/6px 2px, linear-gradient(to left, currentColor 8px, transparent 0) no-repeat 14px 8px/6px 2px, linear-gradient(to left, currentColor 8px, transparent 0) no-repeat 14px 12px/6px 2px; }
  .icon__user-list::after {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute;
    border: 2px solid; }
  .icon__user-list::before {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute;
    border: 2px solid;
    width: 8px;
    height: 8px;
    border-radius: 30px;
    top: 0;
    left: 2px; }
  .icon__user-list::after {
    width: 12px;
    height: 9px;
    border-bottom: 0;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    top: 9px; }

.icon__calendar-today {
  box-sizing: border-box;
  position: relative;
  display: block;
  transform: scale(var(--ggs, 1));
  width: 18px;
  height: 18px;
  border: 2px solid;
  border-top: 4px solid;
  border-radius: 3px; }
  .icon__calendar-today::before {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute;
    background: currentColor;
    height: 4px;
    width: 4px;
    border-radius: 2px;
    right: 2px;
    bottom: 2px; }

.icon__notifications {
  box-sizing: border-box;
  position: relative;
  display: block;
  transform: scale(var(--ggs, 1));
  width: 14px;
  height: 14px;
  background: linear-gradient(to left, currentColor 10px, transparent 0) no-repeat right bottom/2px 8px, linear-gradient(to left, currentColor 10px, transparent 0) no-repeat left top/8px 2px; }
  .icon__notifications::after {
    content: "";
    position: absolute;
    display: block;
    box-sizing: border-box; }
  .icon__notifications::before {
    content: "";
    position: absolute;
    display: block;
    box-sizing: border-box;
    width: 14px;
    height: 14px;
    border-left: 2px solid;
    border-bottom: 2px solid; }
  .icon__notifications::after {
    width: 6px;
    height: 6px;
    border-radius: 4px;
    background: currentColor;
    top: -2px;
    right: -2px; }

.color--grey {
  color: var(--color-grey-dark-2); }

.color--white {
  color: #fff; }

.margin-top-small {
  margin-top: 2rem; }

.margin-top-meddium {
  margin-top: 4rem; }

.margin-bottom-large {
  margin-bottom: 6rem; }
